
  @font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
    
  }



body {
  font-family: 'Montserrat'; 
  background-color: #000000;
  background-image: url('download.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  color: #f6f5f500;
}

header {
  font-family: 'Montserrat'; 
  display: flex;
  background-color: transparent;
  margin-bottom: 6%;
}

img {
  width: 15%;
  margin-top: 10px;
  margin-right: 25%;
  margin-left: 40px;
}



.wrapper {
  font-family: 'Montserrat'; 
  margin-left: 30%;
  margin-right: auto;
  margin-bottom:4%;
  display: flex;
  color: #ffffffb1;
  background: #00000000;
  height: 10%;
  width: 70%;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="date"]{
  margin: 20px;
  font-family: 'Montserrat'; 
  background-color: #00000082;
  color: #e4dddd;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 15%;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 1px 1px 1px rgb(255, 255, 255);

}
input[type="time"] {
  
  margin: 20px;
  font-family: 'Montserrat'; 
  background-color: #00000031;
  color: #f7f7f7;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 15%;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}

input[type="time"]::-webkit-inner-spin-button {
  filter: invert(1); 
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


input[type="number"]:hover,
input[type="number"]:focus {
  border-color: #4d4e50;
}


label {
  color: #000000;
  margin-left: 15px;
  font-family: 'Montserrat'; 
}

#registerButton {
  cursor: pointer;
}

button {
  box-shadow: 2px 2px 2px#000000;
  border-color: #e6dddd;
  height: 40px;
  width: 7%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.116);
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-family: 'Montserrat'; 
}

dl {
  margin-left: 0px;
  color: #dfdfdf;
}

button:hover {
  background-color: #495057;
}

hr {
  border:1px solid #e6eaee61;
  margin-bottom: 3%;
}
h1 {
  font-family: 'Montserrat'; 
  color: #fbfbfbd1;
  margin-left: 6%;
  margin-right:6%;
 
}



.container {
 font-size: medium;
  font-family: 'Montserrat'; 
  height: 45%;
  width:40%;
  margin-right:40px;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgb(0, 0, 0);
  
}

.container1 {
  font-size: smaller;
  font-family: 'Montserrat'; 
  height: 45%;
  margin-top:  -25%;
  width:40%;
  margin-right:40px;
  margin-left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgb(0, 0, 0);
  margin-bottom: 10%;
  
}


p {
  font-family: 'Montserrat'; 
  color: #dfdfdf;
  line-height: 2;
  text-align: justify;
}

ol {
  font-family: 'Montserrat'; 
  font-size: medium;
  color: #ffffff;
  padding-left: 20px;
  margin-left:6%;
}

ol li {
  font-family: 'Montserrat'; 
  color: #e4dddd;
  margin-bottom: 10px;
  
}



header {
  font-family: 'Montserrat'; 
  height:7%;
  background-color: transparent;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  background-color: black;
}

header img {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

nav li {
  margin: 5px;
  margin-right: 50px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

nav a:hover {
  color: white;
}


nav li::before,
nav li::after,
nav a::before,
nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

nav li::before,
nav a::before {
  left: 0;
}

nav li::after,
nav a::after {
  right: 0;
}

nav li:hover::before,
nav a:hover::before,
nav li:hover::after,
nav a:hover::after {
  width: 100%;
  color: #fff;
}





footer {
  font-family: 'Montserrat'; 
  background-color: black;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer hr {
  border-top: 1px solid rgb(255, 255, 255);
  margin: 10px 0;
}

footer a {
  font-family: 'Montserrat'; 
  display: inline-block;
  margin: 5px;
  margin-right: 1.5%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

footer a img {
  width: 37px;
  height: 37px;
  transition: transform 0.3s ease-in-out;
}

footer a:hover img {
  transform: scale(1.2);
}
p {
  
  margin-left:44%;

}
.p1{
  margin-left: 48%;
}
@media only screen and (max-width: 768px) {
  img {
    width: 20%;
    margin-top: 10px;
    margin-right: 15%;
    margin-left: 20px;
  }

  .wrapper {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  input[type="date"],
  input[type="time"],
  input[type="number"] {
    width: 30%;
  }

  button {
    width: 30%;
  }

  nav li {
    margin-right: 10px;
  }

  .container,
  .container1 {
    width: 90%;
    margin-right: 5px;
    margin-left: 5px;
  }
}