body {
  background-image: url('preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.wrapper {
  
  background: rgb(0, 0, 0);
  height: auto;
  width: 380px; 
  margin: 5% auto;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(176, 176, 176, 0.1);
}

.wrapper .page-buttons1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: rgba(0, 0, 0, 0.5);
}

button {
  height: 40px;
  width: 90px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #ccc; 
  box-shadow: 3px 3px 3px rgba(176, 176, 176, 0.1);
}
button:hover{
  background-color: #383636;
}

.wrapper h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.wrapper .container {
  height: auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




@media only screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }
}




.input-container {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px; 
  margin-left: 25px; 
 
}

label {
  align-items: left;
  margin-bottom: 25px; 
  color: #e1e3e4;
}

input {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: rgba(0,0,0,0.5);
  width: 80%; 
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #ccc;
}

a {
  color: #fdfeff; 
  text-decoration: none; 
  transition: color 0.3s ease;  
}

a:hover {
  color: #e1e3e4; 
}


  .styled-image1 {
    
    width: 100%; 
    margin-left:0px;
    margin-top:0px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .styled-image2 {
   
    width: 37px;
    height: 40px; 
    margin-right:35px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
 
img{
  margin-top:45px;
  margin-right:55px;
  margin-left:40px;
  
  
}

header img {
    width: 200px; 
    height: auto;
    margin-right: 10px;
}

.left-span {
  font-size: 30px;
  text-align: left;
}
