@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-VariableFont_wght.ttf) format('truetype');
   
}

body {
  
 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'; 
  color: #333;
}
#myVideo{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80%;
  min-height: 80%;
  z-index:-100;
}


.wrapper {
  align-items: center;
  justify-content: center;
  background: transparent;
  height: auto;
  width: 300px; 
  margin: 5% auto;
  padding: 5%;
  border-radius: 20px;
 
  
}



#myButton {
  margin-top: -5%;
  font-family: 'Montserrat'; 
  background-color: rgba(255, 255, 255, 0.521);
  margin-left: 14%;
  color: rgb(0, 0, 0);
  padding: 7px;
  font-size: 13px;
  border-radius: 15PX;
  width: 74%;
  cursor: pointer;
}


button:hover{
  background-color: #383636;
}

.wrapper h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.wrapper .container {
  height: auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




@media only screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }
}




.input-container {
  font-family: 'Montserrat'; 
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px; 
  margin-left: 25px; 
 
}


input[type="text"],input[type="password"],input[type="submit"]{
  align-items: center;
  font-family: 'Montserrat'; 
  background: rgba(0, 0, 0, 0.342);
  width: 70%; 
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #ffffff;
}
#a1{
  font-family: 'Montserrat'; 
  color: #000000fd; 
  font-size:xx-large;
  transition: color 0.3s ease;  
}
a {
  font-family: 'Montserrat'; 
  font-size: small;
  color: #000000; 
  
  transition: color 0.3s ease;  
}

a:hover {
  color: #ce792a; 
}



  .styled-image2 {
   
    width: 40PX;
    height: 40px; 
   
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
 
img{
  margin-top:45px;
  margin-right:55px;
  margin-left:40px;
  
  
}



.left-span {
  font-size: 30px;
  text-align: left;
}
i{
  margin-bottom: -25px;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

  
input::placeholder {
  color: #ffffff; 
  font-style: italic; 

}
input[type="radio"]{
  margin-top:0px;
  font-family: 'Montserrat'; 
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: none; 
  accent-color:  #ce792a;

}

input[type="checkbox"]{
  margin-top:-13px;
  margin-bottom:20px;
  margin-left: 265px;
  width: 13px;
  height: 13px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: none; 
  accent-color:  #ce792a;

}

label {
  margin-left:25px ;
  font-size: small;
  display: inline-block;
  font-family: 'Montserrat'; 
  color: #000000;
}
.radio-container {
  display: flex;
  align-items: center;
}

